h1, h4 {
    text-align: center;
}

.table {
    text-align:center;
    border:1px solid #dddddd;
}

.table th {
    background-color:#eeeeee;
    text-align:center;
}

#boardRead .table tr td:nth-child(1) {
    width: 20%;
}